/* Shopping Website */
body{
	background-color: black;
	color: white;
}
#navheader{
	padding: 1.5em;
	font-size: 1.25em;
	}
#navheader a{
	color: yellow;
	font-style: oblique;
}
nav{
	float:left;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
}
nav li{
	border-radius: .25em;
	list-style: none;
	float: left;
	background-color: grey;
	margin: 2px;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
}
nav li a{
	color: white;
}
nav li a:hover {
	color: black;
}
header{
	text-align: center;
}
#table{

}
table{
    width:300px;
    height:300px;
    background-color:#d9d9d9;
    position:fixed;
    margin-left:-150px;/* half of width */
    margin-top:-150px; /* half of height */
    top:50%;
    left:50%;
	text-align: center;
	background-color: black;
	font-family: tahoma, sans-serif;
}
tr{
	
}
th{
	background-color: grey;
	/*padding: 1em;*/
}
td{
	/*padding:0.5em;*/
}
.item{
	color: yellow;
}
.price{
	color: grey;
}
.image{
	
}